name: CI

on: pull_request

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: false
      - name: Build
        run: go build -v ./...
      - name: Run linters
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601
        with:
          version: latest
          skip-pkg-cache: true
          skip-build-cache: true
      - name: Run tests
        run: go test -v ./...
