name: CI

on: pull_request

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: false
      - name: Build
        run: go build -v ./...
      - name: Run linters
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47
        with:
          version: latest
          skip-pkg-cache: true
          skip-build-cache: true
      - name: Run tests
        run: go test -v ./...
